@import "../../../global.scss";

.demo_landing {
    background-color: getcolor(screen_background);
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: scroll;
}
h2{
    color: getcolor(text_color);
    font-size: 20px;
    margin: 15px 0px;
}
h3 {
    color: getcolor(subtitle_text_color);
    margin-bottom: 20px;
}
.demo_landing > div {
    flex-basis: 50%;
    padding: 30px;
}
.demo_landing .mr_r{
    margin-right: 10px;
}
.demo_landing .tag_inline {
  --gap: 5px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}
.tool img{
    display: block;
}
.demo_landing .input_demo label{
    background-color: getcolor(screen_background);
}
.demo_landing .select_demo > div {
    background-color: getcolor(screen_background)!important;
}
.demo_landing .menu{
    padding: 10px;
    color: getcolor(text_color);
}